body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: roboto, sans-serif;
  font-weight: 900;
  font-size: 50px;
}

h2 {
  font-family: roboto, sans-serif;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-family: roboto, sans-serif;
}

footer {
  height: 150px;
  background: rgb(255, 192, 207);
  margin-top: 15px;
}

footer p {
  color: white;
}

img {
  width: 100%;
}

body {
  background-color: aliceblue;
}

a {
  color: rgb(92, 181, 253);
  text-decoration: none;
}

a:hover {
  color: rgb(176, 218, 252);
  text-decoration: none;
}

.container {
  margin-top: 40px;
  margin-bottom: 50px;
}

.nav-link:hover {
  color: rgb(250, 169, 183) !important;
}

.spacer {
  height: 100px;
}

.frontpageFlex {
  flex: 1;
}

.frontpageHeadline {
  flex: 1;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
  margin-top: 60px;
}

.frontpageButton {
  color: white;
  background: #77c4f0;
  border: none;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 5px;
  border-radius: 2px;
}

.frontpageButton:hover {
  background: #9cdbff;
  color: white;
}

.frontpageImg img {
  border-radius: 200px;
  margin-bottom: 45px;
}

.frontpageContent p {
  width: 90%;
}

.headline {
  flex: 1;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
}

.contactBox {
  padding-top: 25px;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
  flex: 1;
}

.contactBox p {
  text-align: left;
  padding-left: 15px;
}

.contactBox a {
  padding-left: 15px;
}

.contactBox img {
  width: 300px;
}

.workPageParagraph {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 60px;
  width: 60%;
}

.aboutContent {
  margin-right: 30px;
}

i {
  padding-left: 10px;
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 45px;
  padding-right: 35px;
}

i:hover {
  color: rgb(250, 169, 183);
}

.footerContent {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}

.footerContent p {
  padding-top: 3px;
}

@media (min-width: 700px) {
  .container {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .spacer {
    height: 85px;
  }
}

@media (max-width: 600px) {
  img {
    margin-bottom: 30px;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 2px;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  p {
    text-align: center;
    padding-top: 10px;
  }

  footer {
    height: 170px;
  }

  i {
    font-size: 45px;
    padding-top: 2px;
    padding-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .spacer {
    height: 15px;
  }

  .headline {
    margin-bottom: 30px;
    padding-top: 45px;
  }

  .headline p {
    padding-top: 5px;
    text-align: left;
  }

  .container {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .frontpageContent p {
    width: 100%;
  }

  .frontpageHeadline {
    text-align: center;
    margin-top: 40px;
  }

  .aboutContent {
    margin-right: 0px;
    text-align: center;
    margin-bottom: 20px;
  }

  .contactBox {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .contactBox img {
    width: 100%;
    margin-bottom: 0px;
  }

  .contactBox p {
    padding-left: 0px;
  }

  .contactBox a {
    padding-left: 0px;
  }

  .workPageParagraph {
    margin-top: 0px;
    width: 75%;
    margin-bottom: 45px;
  }

  .footerContent {
    display: block;
    padding-top: 25px;
    text-align: center;
  }

  .footerContent p {
    font-size: 12px;
  }
}
