h1 {
  font-family: roboto;
  font-weight: 900;
}

p {
  font-family: roboto;
}

footer {
  height: 150px;
  background: rgb(255, 192, 207);
  margin-top: 15px;
}

.header {
  height: 100px;
}

.hero {
  padding-top: 25px;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-bottom: 45px;
}

.icons {
  text-align: right;
  font-size: 45px;
  padding-right: 45px;
  padding-top: 40px;
}

.icons i {
  padding-left: 15px;
  color: rgb(0, 0, 0);
}

.icons i:hover {
  color: white;
}

.signature {
  padding-left: 45px;
  padding-top: 70px;
}

img {
  width: 350px;
}

@media (max-width: 600px) {
  img {
    margin-bottom: 30px;
  }

  .header {
    height: 15px;
  }

  .signature {
    padding-left: 0;
  }

  .icons {
    padding-right: 0;
  }
}
